.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#BlockNumberButton{
  margin-top: 30px;
}

#BrandSelectList {
  margin-top: 10px;
}
#logoutButton {
  margin-left: 65%;
}
#MainMenu {
  margin-left: 2%;
}
#MainMenu a{
  margin-right: 30px;
}

#GeneralPrompts {
  margin-top: 20px;
}

#GeneralEmergency{
  margin-top: 20px;
}

#GeneralContent{
  padding: 20px;
}
 #BrandContent {
  padding: 20px;
}
#BlacklistContent {
  padding: 20px;
}
#OpenSwitch{
  margin-top: 20px;
}
#BrandTopContent .amplify-switchfield{
  margin-top: 20px!important;
}
